{% extends "base.html" %}
{% block title %}Admin - Game{% endblock %}

{% block html_head %}
<script src="{{url_for('static', filename='dynamic_table.js')}}"></script>
<script>
$(document).ready(function(e) {
    var players_table = DynamicTable().config('players-table',
        ['name', 'uid'],
        ["Name", "NFC ID"],
        'There are no players in this game.');
    
    var rounds_table = DynamicTable().config('rounds-table',
        ['round_number', 'when_started', 'when_ended'],
        ["Round Number", "When Started", "When Ended"],
        'This game has no rounds yet');

    function update_from_result(data) {
        players_table.load(data.players);
        rounds_table.load(data.rounds);
        $('#btn-start-game').attr("disabled", data.is_started);
    }

    (function update() {
        $.ajax({
            dataType: "json",
            url: "{{ url_for('api.get_game', game_id=game_id) }}",
            success: update_from_result,
            complete: setTimeout(function() {update()}, 1000),
            timeout: 1000
        });
    })();

    $('#btn-start-game').click(function(e) {
        $('#btn-start-game').attr("disabled", true);
        $.ajax({
            dataType: "json",
            url: "{{ url_for('api.start_game', game_id=game_id) }}",
            type: "POST",
        });
    });
});
</script>
{% endblock %}

{% block content %}
<h1>Game Overview</h1>
<div>
    <a href="{{ url_for('admin.root') }}">Go Back</a>
</div>
<h2>Controls</h2>
<div>
    <button class="button" id="btn-start-game">Start Game</button><br>
</div>
<div>
    <h2>Rounds</h2>
    <table class="styled-table" id="rounds-table"></table>
</div>
<div>
    <h2>Players</h2>
    <table class="styled-table" id="players-table"></table>
</div>
<div>
    <a href="{{ url_for('admin.root') }}">Go Back</a>
</div>
{% endblock %}