{% extends "base.html" %}
{% block title %}Admin - Game{% endblock %}

{% block html_head %}
<script src="{{url_for('static', filename='dynamic_table.js')}}"></script>
<script>

function toggle_zombie(player_id) {
    $.ajax({
        dataType: "json",
        url: "{{ url_for('api.toggle_zombie') }}",
        type: "POST",
        data: JSON.stringify({player_id: player_id}),
        contentType: 'application/json',
    });
}

$(document).ready(function(e) {
    function zombie_toggle(player) {
        var is_zombie = player.is_initial_zombie;
        var text = is_zombie ? "Zombie" : "Human";
        return "<button class=\"button\" onclick=\"toggle_zombie(" + player.player_id + ")\">" + text + "</button>";
    }

    var players_table = DynamicTable().config('players-table',
        ['name', 'uid', zombie_toggle],
        ["Name", "NFC ID", "Role"],
        'There are no players in this game.');
    
    var rounds_table = DynamicTable().config('rounds-table',
        ['round_number', 'when_started', 'when_ended'],
        ["Round Number", "When Started", "When Ended"],
        'This game has no rounds yet');

    function update_from_result(data) {
        players_table.load(data.players);
        rounds_table.load(data.rounds);
        $('#btn-start-game').attr("disabled", data.is_started);
    }

    (function update() {
        $.ajax({
            dataType: "json",
            url: "{{ url_for('api.get_game', game_id=game_id) }}",
            success: update_from_result,
            complete: setTimeout(function() {update()}, 1000),
            timeout: 1000
        });
    })();

    $('#btn-start-game').click(function(e) {
        $('#btn-start-game').attr("disabled", true);
        $.ajax({
            dataType: "json",
            url: "{{ url_for('api.start_game', game_id=game_id) }}",
            type: "POST",
        });
    });
});
</script>
{% endblock %}

{% block content %}
<h1>Game Overview</h1>
<div>
    <a href="{{ url_for('admin.root') }}">Go Back</a>
</div>
<h2>Controls</h2>
<div>
    <button class="button" id="btn-start-game">Start Game</button><br>
    <input type="number" id="input-number-zombies" min="1" max="10">
    <button class="button" id="btn-start-game">Make Zombies</button><br>
</div>
<div>
    <h2>Rounds</h2>
    <table class="styled-table" id="rounds-table"></table>
</div>
<div>
    <h2>Players</h2>
    <table class="styled-table" id="players-table"></table>
</div>
<div>
    <a href="{{ url_for('admin.root') }}">Go Back</a>
</div>
{% endblock %}