{% extends "base.html" %}
{% block title %}Admin - Home{% endblock %}

{% block html_head %}
<script src="{{url_for('static', filename='dynamic_table.js')}}"></script>
<script>
var games_table;

function active_button(item) {
    var is_active = item.is_active;
    var text = is_active ? "YES" : "NO"
    return "<button class=\"button\" onclick=\"activate_game(" + item.id_ + ")\">" + text + "</button>";
}

function game_link(item) {
    var game_id = item.id_;
    return "<a href='game/" + game_id +"'>Show Game</a>"
}

function load_games() {
    $.getJSON(
        "{{ url_for('api.list_games') }}",
        function( response ) {
            games_table.load(response.data);
        }
    )
}

function activate_game(game_id) {
    $.ajax({
        dataType: "json",
        url: "{{ url_for('api.put_active_game') }}",
        type: "PUT",
        data: JSON.stringify({game_id: game_id}),
        contentType: 'application/json',
        success: load_games
    });
}

$(document).ready(function(e) {
    games_table = dynamicTable.config('games-table',
        ['id_', 'when_created', 'players', 'status', active_button, game_link],
        ['Game ID', 'Created', 'Player Count', 'Satus', 'Active?', "Link"],
        'There are no current games.');


    $('#btn-new-game').click(function(e) {
        $.ajax({
            dataType: "json",
            url: "{{ url_for('api.put_game') }}",
            type: "PUT",
            success: load_games
        });
    });

    load_games();
});
</script>
{% endblock %}

{% block content %}
<div>
    <table class="styled-table" id="games-table"></table>
</div>
<div>
    <button class="button" id="btn-new-game">New Game</button><br>
</div>
{% endblock %}