{% extends "base.html" %}
{% block title %}Player{% endblock %}

{% block html_head %}
<script src="{{url_for('static', filename='dynamic_table.js')}}"></script>
<script>
$(document).ready(function(e) {
    var current_state_div = $('#div-loading');

    function set_current_state_div (new_state) {
        current_state_div.attr("hidden", true);
        current_state_div = new_state;
        current_state_div.attr("hidden", false);
    }

    function set_state_no_active_game () {
        set_current_state_div($('#div-no-active-game'));
    }

    function set_state_registration_form () {
        set_current_state_div($('#div-registration-form'));
    }

    function set_state_pre_game () {
        set_current_state_div($('#div-pre-game'));
    }

    function update_from_result (data) {
        var active_game_id = data.game_id;
        var player_name = data.name;

        $(".player-name").each(
            function() {
                $(this).html(player_name);
            }
        )

        if (active_game_id === null || data.game_is_started) {
            set_state_no_active_game();
        } else if (player_name === null) {
            set_state_registration_form();
        } else {
            set_state_pre_game();
        }
    }

    function clear_error () {
        $('#div-error').empty();
    }

    function set_error (error) {
        clear_error();
        $('#div-error').append("Sorry, this name already exists!");
    }

    $('#btn-name-submit').click(function(e) {
        clear_error();
        $('#form-input-name').attr("disabled", true);
        $('#btn-name-submit').attr("disabled", true);
        $.ajax({
            dataType: "json",
            url: "{{ url_for('api.put_player') }}",
            type: "PUT",
            success: function () {},
            data: JSON.stringify({name: $('#form-input-name').val(), nfc_id: $('#form-input-uid').val()}),
            contentType: 'application/json',
            statusCode: {
                400: function () {
                    set_error("Sorry, this name already exists!");
                    $('#form-input-name').attr("disabled", false);
                    $('#btn-name-submit').attr("disabled", false);
                }
            }
        });
    });

    $('#form-input-name').on("input", function (e) {
        $('#btn-name-submit').attr("disabled",
            $('#form-input-name').val().length < 3
        );
    });

    (function update() {
        $.ajax({
            dataType: "json",
            url: "{{ url_for('api.get_player_in_active_game', uid=(uid | urlencode)) }}",
            success: update_from_result,
            error: set_state_no_active_game,
            complete: setTimeout(function() {update()}, 1000),
            timeout: 1000
        });
    })();    
});
</script>
{% endblock %}

{% block content %}
<div id="div-error">

</div>
<div id="div-loading">
    Loading...
</div>
<div id="div-no-active-game" hidden=true>
    <h1>No Game</h1>
    Sorry, there is no game to join right now.
</div>
<div id="div-registration-form" hidden=true>
    <h1>Welcome</h1>
    Welcome to the Zombie game!<br>
    To start, please enter your name.
    <form autocomplete="off">
        <input type="text" name="name" id="form-input-name"><br>
        <input type="hidden" name="uid" id="form-input-uid" value="{{ uid }}">
        <button class="button button-m" id="btn-name-submit" disabled="disabled">Submit</button>
    </form>
</div>
<div id="div-pre-game" hidden=true>
    <h1>Done</h1>
    Thank you <span class="player-name"></span>!<br><br>
    Keep this page open!<br><br>
    That's all for now. The game will be explained to you once
    all players have arrived. In the meantime, have some snacks and relax.
</div>
<div id="div-please-wait" hidden=true>
    Please wait!
</div>
<div id="div-round" hidden=true>
    Round active
</div>
{% endblock %}