{% extends "base.html" %}
{% block title %}Player{% endblock %}

{% block html_head %}
<script src="{{url_for('static', filename='dynamic_table.js')}}"></script>
<script>
function timer(done_callback, poll_callback, delay) {
    var id;
    var started;
    var remaining = delay;
    var running;
    var poll_timer;

    this.start = function() {
        running = true;
        started = new Date();
        id = setTimeout(this.done, remaining);
        poll_timer = setTimeout(this.poll.bind(this), 40);
    }

    this.stop = function() {
        running = false;
        clearTimeout(id);
        clearTimeout(poll_timer);
    }

    this.done = function() {
        clearTimeout(poll_timer);
        poll_callback(remaining);
        done_callback();
    }

    this.poll = function() {
        poll_callback(new Date() - started);
        poll_timer = setTimeout(this.poll.bind(this), 40);
    }

    this.getStateRunning = function() {
        return running;
    }
}

$(document).ready(function(e) {
    var current_state_div = $('#div-loading');

    function set_current_state_div (new_state) {
        current_state_div.attr("hidden", true);
        current_state_div = new_state;
        current_state_div.attr("hidden", false);
    }

    function set_state_no_active_game () {
        set_current_state_div($('#div-no-active-game'));
    }

    function set_state_registration_form () {
        set_current_state_div($('#div-registration-form'));
    }

    function set_state_pre_game () {
        set_current_state_div($('#div-pre-game'));
    }
    
    function set_state_role_reveal () {
        set_current_state_div($('#div-role-screen'));
    }

    function set_state_round_active () {
        set_current_state_div($('#div-round'));
    }

    function set_state_round_over () {
        set_current_state_div($('#div-round-end'));
    }

    function set_state_game_over () {
        set_current_state_div($('#div-game-end'));
    }

    function update_from_result (data) {
        var active_game_id = data.game_id;
        var player_name = data.name;
        var player_role = data.is_initial_zombie ? "Communist" : "Capitalist"

        $(".player-name").each(
            function() {
                $(this).html(player_name);
            }
        )
        $(".player-role").each(
            function() {
                $(this).html(player_role);
            }
        )
        if (data.has_chugged_potion) {
            $("#book-area").attr("hidden", true);
            $("#end-book").attr("hidden", false);
        } else {
            $("#book-area").attr("hidden", false);
            $("#end-book").attr("hidden", true);
        }

        if (active_game_id === null || (player_name === null && data.game_is_started)) {
            set_state_no_active_game();
        } else if (player_name === null) {
            set_state_registration_form();
        } else if (!data.game_is_started) {
            set_state_pre_game();
        } else if (data.round_number === 0){
            set_state_role_reveal();
        } else if (!data.round_ended) {
            set_state_round_active();
        } else if (data.round_number !== 3){
            set_state_round_over();
        } else {
            set_state_game_over();
        }
    }

    function clear_error () {
        $('#div-error').empty();
    }

    function set_error (error) {
        clear_error();
        $('#div-error').append("Sorry, this name already exists!");
    }

    $('#btn-name-submit').click(function(e) {
        clear_error();
        $('#form-input-name').attr("disabled", true);
        $('#btn-name-submit').attr("disabled", true);
        $.ajax({
            dataType: "json",
            url: "{{ url_for('api.put_player') }}",
            type: "PUT",
            success: function () {},
            data: JSON.stringify({name: $('#form-input-name').val(), nfc_id: $('#form-input-uid').val()}),
            contentType: 'application/json',
            statusCode: {
                400: function () {
                    set_error("Sorry, this name already exists!");
                    $('#form-input-name').attr("disabled", false);
                    $('#btn-name-submit').attr("disabled", false);
                }
            }
        });
    });

    $('#form-input-name').on("input", function (e) {
        $('#btn-name-submit').attr("disabled",
            $('#form-input-name').val().length < 3
        );
    });

    $('#role-reveal').bind("touchstart mousedown", function () {
        $('#player-role').attr("hidden", false);
    });

    $('#role-reveal').bind("touchend mouseup", function () {
        $('#player-role').attr("hidden", true);
    });

    function read_complete () {
        console.info("READ COMPLETE");
        $.ajax({
            dataType: "json",
            url: "{{ url_for('api.put_potion_chug') }}",
            type: "PUT",
            success: function () {},
            data: JSON.stringify({nfc_id: $('#form-input-uid').val()}),
            contentType: 'application/json',
            statusCode: {
                400: function () {
                    set_error("Sorry, this name already exists!");
                    $('#form-input-name').attr("disabled", false);
                    $('#btn-name-submit').attr("disabled", false);
                }
            }
        });
    }
    
    function read_progress (time) {
        $('#read-progress>div').width(time / 3000 * 100 + "%");
    }

    read_timer = new timer(read_complete, read_progress, 3000);
    
    $('#book-area').bind("touchstart mousedown", function () {
        $('#open-book').attr("hidden", false);
        $('#read-progress').attr("hidden", false);
        $('#closed-book').attr("hidden", true);
        read_timer.start();
    });

    $('#book-area').bind("touchend mouseup mouseleave touchcancel", function () {
        $('#open-book').attr("hidden", true);
        $('#read-progress').attr("hidden", true);
        $('#closed-book').attr("hidden", false);
        read_timer.stop();
        $('#read-progress>div').width("0%");
    });

    $('#book-area').on('dragstart contextmenu', function(event) { event.preventDefault(); });
    $('#end-book').on('dragstart contextmenu', function(event) { event.preventDefault(); });

    $(document).on('contextmenu', function (e) {
                return false;
            });

    (function update() {
        $.ajax({
            dataType: "json",
            url: "{{ url_for('api.get_player_in_active_game', uid=(uid | urlencode)) }}",
            success: update_from_result,
            error: set_state_no_active_game,
            complete: setTimeout(function() {update()}, 1000),
            timeout: 1000
        });
    })();
});
</script>
{% endblock %}

{% block content %}
<div id="div-error">

</div>
<div id="div-loading">
    Loading...
</div>
<div id="div-no-active-game" hidden=true>
    <h1>No Game</h1>
    Sorry, there is no game to join right now.
</div>
<div id="div-registration-form" hidden=true>
    <h1>Welcome</h1>
    Welcome to  game!<br>
    To start, please enter your name.
    <form autocomplete="off">
        <input type="text" name="name" id="form-input-name"><br>
        <input type="hidden" name="uid" id="form-input-uid" value="{{ uid }}">
        <button class="button button-m" id="btn-name-submit" disabled="disabled">Submit</button>
    </form>
</div>
<div id="div-pre-game" hidden=true>
    <h1>Done</h1>
    Thank you <span class="player-name"></span>!<br><br>
    Keep this page open!<br><br>
    That's all for now. The game will be explained to you once
    all players have arrived. In the meantime, have some snacks and relax.
</div>
<div id="div-role-screen" hidden=true>
    <h1><span class="player-name"></span></h1>
    <br>
    Tap the field below to reveal your role.<br><br>
    CAREFUL! You are not allowed to show this to ANYONE!<br>
    <span id="role-reveal" class="role-reveal">
        <span id="player-role" class="player-role" hidden="hidden"></span>
    </span>
</div>
<div id="div-round" hidden=true>
    <h1>The Wealth of Nations</h1>
    <div id="book-area">
        Tap and hold to read<br>
        <img id="closed-book" class="book" src="{{ url_for('static', filename='wealth.png') }}"></img><br>
        <img id="open-book" class="book" src="{{ url_for('static', filename='adam.png') }}" hidden="hidden"></img><br>
        <div id="read-progress" class="progressbar" hidden="hidden">
            <div></div>
        </div>
        <progress id="read2-progress" value="0" max="3000"  hidden="hidden"></progress><br>
    </div>
    <div id="end-book" hidden="hidden">
        You have read The Wealth of Nations <br>
        <img class="book" src="{{ url_for('static', filename='end.png') }}"></img><br>
    </div>
</div>
<div id="div-round-end" hidden=true>
    <h1>Round Over</h1>
    Please go to the living room for new intel!
</div>
<div id="div-game-end" hidden=true>
    <h1>Game Over</h1>
    Please go to the living room for the scores!
</div>

{% endblock %}