body {
    background: #505050;
}

div {
    text-align: center;
}

.container {
    background: #505050;
    color: #EEEEEE;
    font-size: 18pt;
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
}

.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}


.styled-table thead tr {
    background-color: #074a28;
    color: #ffffff;
    text-align: left;
}


.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
    border-bottom: 1px solid #232323;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #4f4f4f;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #074a28;
}

.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #074a28;
}


.button {
    background-color: #074a28;
    font-size: 18pt;
    color: #EEEEEE;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    transition-duration: 0.1s;
    cursor: pointer;
}

.button:hover {
    background-color: #116139;
    /* Green */
    color: white;
}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 5px solid #074a28;
    -webkit-transition: 0.1s;
    transition: 0.1s;
    outline: none;
    font-size: 18pt;
}

input[type=text]:focus {
    border: 5px solid #116139;
}

form {
    text-align: center;
}

