body {
    background: #2c2c2c;
    padding-left: 2em;
    padding-right: 2em;
    user-select: none !important;
    -webkit-touch-callout: none !important;
    -webkit-user-select: none !important;
}

footer {
    font-size: 9pt;
    margin-top: 10em;
}

div {
    text-align: center;
}

.container {
    background: #2c2c2c;
    color: #CCCCCC;
    font-size: 16pt;
    font-family: 'Courier New', Courier, monospace;
}

.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    min-width: 400px;
    margin: 0px auto;
}


.styled-table thead tr {
    width: 100%;
    background-color: #ffffff00;
    color: #CCCCCC;
    text-align: left;
    font-weight: bold;
    border-bottom: 2px solid #CCCCCC;
}


.styled-table th,
.styled-table td {
    padding: 12px 15px;
    text-align: center;
}

.styled-table tbody tr {
    border-bottom: 1px solid #232323;
}

.styled-table tbody tr:nth-of-type(even) {
    background: repeating-linear-gradient(
        -45deg,
        transparent,
        transparent 7px,
        #444444 7px,
        #444444 9px
    );
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #CCCCCC;
}


.button {
    background-color: #ffffff00;
    font-size: 16pt;
    color: #CCCCCC;
    border: 2px solid #CCCCCC;
    padding: 0px 0px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    transition-duration: 0.1s;
    cursor: pointer;
    font-family: 'Courier New', Courier, monospace;
    margin: 0.4em;
}

.button:hover:enabled {
    text-decoration: underline;
}

button:disabled,
button[disabled]{
    text-decoration: line-through;
    border: 2px solid #999999;
    color: #999999;
}

.button-s {
    width: 4em;
    height: 3em;
}


.button-m {
    width: 12em;
    height: 3em;
}

input[type=text],
input[type=number] {
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid #CCCCCC;
    background-color: #ffffff00;
    color: #CCCCCC;
    -webkit-transition: 0.1s;
    transition: 0.1s;
    outline: none;
    font-size: 16pt;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}


input[type=text]:focus,
input[type=number]:focus {
    border-bottom: 2px solid #EEEEEE;
}

form {
    text-align: center;
}

a {
    color:#CCCCCC;
    text-decoration: underline;
    -webkit-tap-highlight-color: transparent;
}

a:active {
    text-decoration: underline double;
}


input[type="number"] {
    -webkit-appearance: textfield;
       -moz-appearance: textfield;
            appearance: textfield;
  }
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
-webkit-appearance: none;
}


.role-reveal {
    width: 6em;
    height: 6em;
    padding: 2em;
    margin: 2em;
    display: inline-block;
    background-color: #232323;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


.span-redacted {
    background-image: url("redacted.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    padding: 0.4em 2em 0.4em 2em;
}

.zombie-logo {
    width: 3em;
    height: 3em;
}

.points {
    font-size: 3em;
}

.progressbar {
    border: 2px solid #EEEEEE;
    /* (height of inner div) / 2 + padding */
    padding: 3px;
}
  
.progressbar>div {
    background: repeating-linear-gradient(
        -45deg,
        transparent,
        transparent 7px,
        #EEEEEE 7px,
        #EEEEEE 9px
    );
    width: 0%;
    /* Adjust with JavaScript */
    height: 20px;
}


.book {
    height: 10em;
}